rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() { return request.auth != null; }

    match /uploads/{uid}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == uid;
    }

    match /profile-photos/{uid}/{fileName} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == uid;
    }
  }
}